.cart-widget{
    position: fixed;
    right: 30px;
    bottom: 30px;
    z-index: 100;
}
.cart-widget span{
    background: #1976D2;
    border-radius: 50%;
    padding: 10px;
    color: #fff;
    box-shadow: 0 0 1px 1px #f2f2f2;
}
.cart-widget svg{
    font-size: 50px;
}
.cart-widget span span{
    font-size: 21px;
    padding: 15px 8px;
}