
.slider-container{
    display: flex;
    max-width: 100%;
    align-items: center;
    overflow: hidden;
    margin: 0 22px;
}
.slider-container button{
    position: absolute;
}
.next{
    right: 0;
}
.back{
    left: 0;
}
.slider{
    min-width: 100%;
    max-width: 100%;
    display: flex; 
}
.slider__item{
    min-width: 100%;
}
.slider__item img{
    width: 100%;
}


.btn-container{
    text-align: center;
    width: 100%;
}

.back,.next{
    margin: 0 5%;
    z-index: 10;
    background: rgba(168, 168, 168, 0.661);
    border: none;
    border-radius: 30px;
    font-size: 50px;
    padding: 10px 15px;
    cursor: pointer;
}
.back:hover,.next:hover{
    background: #1976D2;
}

.latest-news{
    margin: 0 .9rem 0 .6rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    align-content: flex-start;
    justify-items: start;
    flex-wrap: wrap;
    padding: 0;

}

.latest-news__container{
    width: 100%;
    display: flex;
    justify-content: start;
    flex-wrap:wrap;
    overflow: hidden;
}

.latest-news-carts{
    width: 100%;
    display: flex;
    justify-content: start;
    gap: .3rem;
}

.latest-new__product{
    min-width: 100%;
    overflow: hidden;
    height: 350px;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.latest-new__product-container{
    min-width: 90%;
    max-width: 90%;
    height: 300px;
    padding: 1rem;
    background-color: #1976D2;
    border-radius: 33px;
    color:#fff;
    text-align:center;
    display: flex;
    flex-direction:column;
    align-items: center;
    position: relative;
}

.latest-new__product-info{
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 3;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
    border-radius: 33px;
}
.latest-new__product-info:hover{
    opacity: 1;
}
.product__img-container{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: white;
    display:flex;
    justify-content:center;
    align-items:center;
}
.latest-new__product-info span{
    width: 100px;
    height: 40px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 10px;
    transition: all 0.5s ease;
    color:#000;
}

.latest-new__product-info span:hover {
    background-color: #1976D2;
    transform: scale(1.3);
    color:#fff;
}

.latest-news h2{
    margin: 0;
    padding: 10px 0;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 100;
}

@media (min-width:571px) {
    .latest-new__product{
        min-width: 48%;
        max-width:48%;
    }
}

@media (min-width:768px) {
    .latest-new__product{
        min-width: 30%;
        max-width:30%;
    }
}
@media (min-width:1280px) {
    .latest-new__product{
        min-width: 24.5%;
        max-width:24.5%;
    }
}

